In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

In [3]:
df = pd.read_csv('/workspaces/Data_Engineering/zc/docker_sql/yellow_tripdata_2021-01.csv', nrows = 100)

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [5]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
engine.connect()

In [9]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [10]:
df_iter = pd.read_csv('/workspaces/Data_Engineering/zc/docker_sql/yellow_tripdata_2021-01.csv', iterator = True, chunksize=100000)

In [11]:
df = next(df_iter)

In [12]:
len(df)

100000

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [14]:
df.head(0).to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'replace')

0

In [15]:
from time import time

In [16]:
%time df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'append')

CPU times: user 6.28 s, sys: 127 ms, total: 6.4 s
Wall time: 9.08 s

1000

In [17]:
while True:
    t_start = time()
    try:
        df = next(df_iter)

        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

        df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'append')

        t_end = time()

        print('inserted another chunk.., took %.3f second' % (t_end - t_start))
    except StopIteration:
        print("End of data source reached. Exiting loop.")
        break

inserted another chunk.., took 8.975 second
inserted another chunk.., took 8.944 second
inserted another chunk.., took 9.557 second
inserted another chunk.., took 8.983 second
inserted another chunk.., took 9.016 second
inserted another chunk.., took 9.322 second
inserted another chunk.., took 9.028 second
inserted another chunk.., took 9.078 second
inserted another chunk.., took 9.087 second
inserted another chunk.., took 9.493 second
inserted another chunk.., took 8.990 second

/tmp/ipykernel_39482/1422239796.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk.., took 9.061 second
inserted another chunk.., took 6.120 second
End of data source reached. Exiting loop.